@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --text-color: #FCEFF9;
    --background-color: #25283D;
    --accent-color: #66CC99;
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Mukta", sans-serif;
}

.header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 5rem;
    background-color: var(--accent-color);
}

.header--nav--list{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
}

.hero-section{
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    color: var(--text-color);
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    /*border-radius: 20px 20px 50px 50px;*/
    /*border: 0.5rem solid white;*/
    scroll-snap-align: center;
}

.hero-section--texts{
    display: flex;
    flex-direction: column;
}

.hero-section--texts--title{
    font-size: 3rem;
}

.hero-section--texts--subtitle{
    font-size: 1.5rem;
}

.hero-section--texts--button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.3rem;
    text-decoration: none;
    background-color: var(--accent-color);
    color: var(--background-color);
    width: 30%;
}


.features-section{
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
}

.features-section--changing-text{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.stationary-text{
    font-weight: bold;
}

.features-section--cards{
    display: flex;
    flex-direction: row;
    gap: 10rem
}

.card-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: lightgray;
    padding: 4rem 2rem;
    text-align: center;
    line-height: 2rem;

    h2{
        font-size: 1.8rem;
    }
    p{
        font-size: 1.2rem;
        width: 60%;
    }
}

.card-box img{
    width: 40%;
}